<h1 class="title">Quadro Cinquo</h1>

<div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card col-xs-4">
      <!-- <img class="card-image" src="https://picsum.photos/600/300/?blur" alt=""> -->
      <div class="cocktail-name">
        <%= link_to cocktail.name, cocktail_path(cocktail.id)  %>
      </div>
    </div>
    <% end %>
</div>

<div class="row cocktail-add">
<h3> Add yours</h3>  <%= link_to '<i class="fas fa-plus-circle"></i>'.html_safe, new_cocktail_path  %>
</div>
