.new_cocktail{
  color: white;
  font-family: Open Sans;
  font-weight: lighter;
}

.last_row{
  display: flex;
  justify-content: space-between;
}

.button_submit_container{
  position: relative;
}

.plus{
  position: absolute;
  top: 27%;
  left: 33%;
}

.plus_button{
  height: 100%;
  width: 60px;
}
